Repository hmcts/bar-web, pull requests merged in 2019-12, with the labels that each got.

#536 testing PR build
  charts/bar-web/values.preview.template.yaml
  src/app/shared/components/details/details.component.html
  src/app/shared/components/details/details.component.spec.ts
  src/app/shared/components/details/details.component.ts
Labels: ns:bar-web-pr-536

#546 add the description in table
  charts/bar-web/Chart.yaml
  charts/bar-web/requirements.yaml
  charts/bar-web/values.preview.template.yaml
  src/app/core/components/payment-overview/payment-overview.component.html
Labels: ns:bar-web-pr-546

#548 BAR-939
  src/app/shared/components/navigation/navigation.component.html
  src/app/shared/directives/map-status-label/map-status-label.directive.spec.ts
  src/app/shared/directives/map-status-label/map-status-label.directive.ts
Labels: ns:bar-web-pr-548

#553 Bar 530 1
  acceptance-tests/test/end-to-end/tests/BARDeliveryManager_test.js
  src/app/core/components/payment-overview/payment-overview.component.html
Labels: ns:bar-web-pr-553

#555 Update BARDeliveryManager_test.js
  acceptance-tests/test/end-to-end/tests/BARDeliveryManager_test.js
Labels: ns:bar-web-pr-555
