Repository hmcts/bar-web, pull requests merged in 2021-03, with the labels that each got.

#641 merge confilct changes
  Jenkinsfile_nightly
  acceptance-tests/codecept.conf.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/BARAcceptanceTestConstants.js
  acceptance-tests/test/end-to-end/tests/BARDeliveryManager_test.js
  acceptance-tests/test/end-to-end/tests/BARMultisite_test.js
  acceptance-tests/test/end-to-end/tests/BARPostClerk_test.js
  bin/run-functional-tests.sh
  charts/bar-web/Chart.yaml
  charts/bar-web/requirements.yaml
  package.json
  yarn-audit-known-issues
Labels: ns:bar, prd:bar, rel:bar-web-pr-641

#653 Pay 4005 - content field removed 2.0
  .travis.yml
  acceptance-tests/test/end-to-end/pages/steps_file.js
  charts/bar-web/values.preview.template.yaml
  package.json
  src/app/core/components/check-submit/check-submit.component.ts
  src/app/core/components/payment-review-summary/payment-review-summary.component.ts
  src/app/core/test-mocks/paymentsoverview.service.mock.ts
  src/app/shared/components/action-filter/action-filter.component.spec.ts
  src/app/shared/components/stats/stats.component.spec.ts
  yarn.lock
Labels: ns:bar, prd:bar, rel:bar-web-pr-653

#660 Barnightlyfailfix
  acceptance-tests/helper/Helpers.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  bin/run-smoke-test.sh
  smoke-test/smoke-codecept.conf.js
Labels: ns:bar, prd:bar, rel:bar-web-pr-660

#657 Added github actions
  .github/workflows/ci.yml
  .travis.yml
Labels: ns:bar, prd:bar, rel:bar-web-pr-657
