Repository hmcts/bar-web, pull requests merged in 2022-05, with the labels that each got.

#726 cve
  yarn-audit-known-issues
Labels: ns:bar, prd:bar, rel:bar-web-pr-726

#727 Securing all the relevant test credentials...
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  acceptance-tests/codecept.conf.js
  acceptance-tests/test/end-to-end/config/BARConfig.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/BARDeliveryManager_test.js
  acceptance-tests/test/end-to-end/tests/BARFeeClerk_test.js
  acceptance-tests/test/end-to-end/tests/BARMultisite_test.js
  acceptance-tests/test/end-to-end/tests/BARPostClerk_test.js
Labels: ns:bar, prd:bar, rel:bar-web-pr-727

#728 Skipping one more test in bar-web...
  acceptance-tests/test/end-to-end/tests/BARDeliveryManager_test.js
Labels: ns:bar, prd:bar, rel:bar-web-pr-728
