Repository hmcts/bar-web, pull requests merged in 2023-08, with the labels that each got.

#783 PAY-6443: Upgraded Gradle and suppressions list
  src/test/java/gradle/wrapper/gradle-wrapper.properties
  src/test/java/gradlew
  src/test/java/gradlew.bat
  yarn-audit-known-issues
Labels: ns:bar, prd:bar, rel:bar-web-pr-783

#784 PAY-6443: Fix for Fortify nightly build.
  src/test/java/build.gradle
Labels: ns:bar, prd:bar, rel:bar-web-pr-784

#787 fix nightly build failure functional tests
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/BARDeliveryManager_test.js
  acceptance-tests/test/end-to-end/tests/BARMultisite_test.js
Labels: ns:bar, prd:bar, rel:bar-web-pr-787

#786 Migrating FTs to Playwright
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  acceptance-tests/codecept-local.conf.js
  acceptance-tests/codecept.conf.js
  acceptance-tests/helper/Helpers.js
  acceptance-tests/helper/SauceLabsReportingHelper.js
  acceptance-tests/helper/utils.js
  acceptance-tests/saucelabs.conf.js
  acceptance-tests/test/end-to-end/crossbrowser/supportedBrowsers.js
  acceptance-tests/test/end-to-end/pages/steps_file.js
  acceptance-tests/test/end-to-end/tests/BARDeliveryManager_test.js
  acceptance-tests/test/end-to-end/tests/BARFeeClerk_test.js
  acceptance-tests/test/end-to-end/tests/BARMultisite_test.js
  bin/run-crossbrowser-tests.sh
  bin/run-functional-tests-local.sh
  bin/run-functional-tests.sh
  bin/run-smoke-test.sh
  config/custom-environment-variables.yaml
  package.json
  yarn.lock
Labels: ns:bar, prd:bar, rel:bar-web-pr-786
